.Quiz--Option {
    min-width: 20vw;
    max-width: 40%;
    padding: 0.7em;
    background-color: var(--quizOptionBackground);
    border-radius: 15px;
    text-align: center;   
    flex-basis: 100%;
    color: #fff;
}

.Quiz--Option:hover {
    cursor: pointer;
    background-color: var(--quizOptionBackgroundDarker);
}

.Quiz--Option p {
    font-weight: bold;
    font-size: 1.3em;
}

.wrong-option {
    background-color: var(--wrongOptionBackground);    
}
.wrong-option:hover {
    background-color: var(--wrongOptionBackgroundDarker);    
}

.correct-option {
    background-color: var(--correctOptionBackground);
}
.correct-option:hover {
    background-color: var(--correctOptionBackgroundDarker);
}
